.listdetails-wrapper{
    position: relative;
    min-height: 90vh;
}

.listdetails-container{
    position: relative;
    display: flex;
    padding: 5em 0 0 3em
}

.listdetails-booksdetails-container{
    display: flex;
    padding-left: 3em;
}

.listdetails-bookdetails-image{
    width: 10em;
    height: 100%
}

.listdetails-bookdetails-backgroundimage{
    position: absolute;
    right: -5em;
    top: 9em;
    width: 95%;
    height: auto;
    opacity: 7%;
}
