.list-item-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 12em;
    
}


.list-item-rank{
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    font-family: 'Carme';
    font-size: 0.9rem;
    color: #848484
}

.list-item-image{
    width: 6em;
    height: auto;
    -webkit-box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
    box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
}