.list-item-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em
    
}

.list-item-rank{
    position: absolute;
    right: 0.6em;
    top: 0.5em;
    text-align: right;
    font-family: 'Carme';
    color: #A7A5A5

}

.list-item-image{
    height: 65%;
    width: auto;
    -webkit-box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
    box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
}

.list-item-image:hover{
    height: 75%;
}