.browselists-page-container{
    position: relative;
}

.list-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.3em;
    padding-top: 3em;
}

.list-item{
    font-size: 1rem;
    text-decoration: underline;
    color: black;
}

