.userprofile-page-container{
    min-height: 70vh;
}

.update-profile-container{
    display: flex;
    flex-direction: column;
    padding: 1em 3em 0 3em;
    flex: 16
}

.userprofile-menu-container{
    padding: 1em 0 0 0;
    flex: 5
}

.update-profile-container > h1{
    font-family: 'Carme';
}