.sidelist-container{
    margin-right: -5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
    height: auto;
}


.sidelist-item-container{
    border-left: 0.2em solid white;
}

.sidelist-item-container-selected{
    background-color: #FFE9E9;
    border-left: 0.2em solid #FFA5A5;
}





