.book-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 6em;
}

.book-image{
    height: 100%;
    width: auto;
    -webkit-box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
    box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.47);
}