.navigationbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

.navigationbar-items-container{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    flex: 10;
    gap: 4em;
}

.navigationbar-item{
    width: fit-content;
    text-decoration: none;
    color: black;
}

.navigationbar-item-active{
    width: fit-content;
    text-decoration: none;
    color: red;
}


