.filters-container{
    flex: 5;
    width: 100%;
    padding-right: 1em;
}

.filter-header{
    font-family: 'Carme';
    font-size: 1rem;
}

@media only screen and (max-width: 1410px) {
    .filters-container{
        flex: 6
    }
}

@media only screen and (max-width: 885px){
    .filters-container{
        padding: 0 2em;
        width: 100%;
        background-color: #F9F9F9;
        z-index: 5;
        
    }
    
}