.bookdata-container{
    display: flex;
    flex-direction: column;
    padding: 0 10em 3em 4em;
    row-gap: 1.4em;
}

.basicinfo-container p{
    font-family: 'Carme';
    font-size: 0.95rem;
    padding: 0.4em 0;
}

.soldat-header{
    font-size: 1rem;
    color: #E11F1F;
    height: 2em;
}


.soldat-item{
    color: black;
    font-size: 1rem;
    white-space: nowrap;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
  
}

.soldat-item a{
    width: fit-content
}

.soldat-item:hover{
    color: #E11F1F
}

@media only screen and (max-width: 885px){
    .bookdata-container{
        padding-right: 3em;
        padding-left: 2em;
    }
}



