.review-wrapper{
    display: flex;
    height: 5em;
    overflow-y: scroll;
    position: relative;
}

.review-wrapper > a{
    width: unset;
    height: unset;
}

.myreviews-book-image{
    height: 70%;
    width: auto;
    margin-right: 1em;
}

.myreviews-book-image:hover{
    height: 75%;
}

.myreviews-book-details > .author{
    margin-top: 0.3em;
    font-size: 0.95rem
}

.myreviews-review{
    margin-bottom: 3em;
    font-size: 1rem;
}
