.app{
  padding: 3em 5em;
  overflow-x: hidden;
}

.page-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.page-container-header{
  display: flex;
  justify-content: space-between;
}

.header-alignment-container-sortby, .header-alignment-container-filters{
  display: flex;
  align-items: center;
  width: auto;
  height: 5em;
  padding-top: 3em;
  padding-bottom: 1em;
}

.header-alignment-container-sortby p, .header-alignment-container-filters p{
  font-family: 'Carme';
  font-size: 0.9rem;
  width: 4em;
  white-space: nowrap;
}

.content-container{
  display: flex;
  height: 90vh;
  padding: 2em 0 2em 2em;
  background-color: #F9F9F9;
  position: relative;
}

.line-divider{
  height: 100%;
  width: 0.15em;
  border-radius: 1em;
  background-color: #E7E7E7;
}

.header-underline{
  margin-top: 0.4em;
  margin-bottom: 3em;
  width: 100%;
  height: 0.2em;
  border: none;
  background-color:#E7E2E0; ;
  color: #E7E2E0;
}

.modal-container{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 2em;
  background-color: white;
  z-index: 30;
  -webkit-box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.20);
  -moz-box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.20);
  box-shadow: 8px 10px 33px -4px rgba(0,0,0,0.20);
}

.modal-container > h1{
  font-family: 'Carme';
  width: fit-content;
  margin-bottom: 0.8em;
}

.modal-container > p{
  font-family: 'Carme';
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1em;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(78, 78, 78)
}

.modal-container > form > input, .profile-input{
  background-color: #F9F9F9;
  border-style: none;
  height: 3em;
  font-family: 'Carme';
  font-size: 0.8rem;
  padding-left: 1em;  
  margin: 0.5em 0;
}

.profile-input{
  background-color: white;
}



.modal-container > form > button, .modal-button, .profile-button{
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  width: 100%;
  height: 2em;
  color: white;
  background-color: #EE7272;
  border-style: none;
  font-family: 'Carme';
  font-size: 1.2rem;
  cursor: pointer;
}

.preview-modal-container > p{
  text-align: start;
  text-decoration: unset;
  font-size: 1rem;
}

.modalexpand-icon{
  width: 2em;
  margin-left: 2em;
}

@media only screen and (max-width: 1410px){
  .app{
      padding: 3em 3em;
  }
}

.modal-close-icon{
  display: none;
}

@media only screen and (max-width: 990px){

.app{
    padding: 3em 2em;
}
 .content-container{
     padding-right: 1em;
 }
}

.lists-spacer{
  width: 100%;
  height: 6em;
}

.underline-container{
  position: relative;
  width: fit-content;
}

.underline-extention{
  margin-right: 2.4em;
}

.loading-indicator{
  position: absolute;
  top: 10em;
}

h1{
  font-family: 'Caladea';
  font-size: 2rem;
  font-weight: 600;
}

a:Link{
  text-decoration: none
}

.fetch-status-indicator{
  padding-left: 3em;
}



@media only screen and (max-width: 885px){
  .app{
    background-color: #F9F9F9; 
    padding: 1em;
  }
  .line-divider{
    display: none;
  }

  .content-container{
    height: unset;
    flex-direction: column;
    padding: 2em 0 2em 0;
  }

  .page-container-header{
    justify-content: space-between;
  }
  .header-alignment-container-filters{
    display: flex;
  }
  .header-alignment-container-filters, .header-alignment-container-sortby{
    padding-top: 1em;
  }

  .modal-close-icon{
    display: unset;
    position: absolute;
    top: 0.7em;
    right: 0.7em;
    width: 1em;
  }
}

@media only screen and (max-width: 640px){
  .modal-container{
    width: 85%;
  }

 
}